<mat-toolbar style="background-color:#E17C00">
    <img class="db-logo" height="60" src="../../assets/img/dbstar_logo.png">
    <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <label style="color:white;">Don Bosco School of Excellence</label>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened #sidenav>
        <button mat-button class="menu-button" (click)="dashboard()">
            <mat-icon>home</mat-icon>Dashboard
        </button>
        <button mat-button class="menu-button" (click)="submit()">
            <mat-icon>contacts</mat-icon>User Profile
        </button>

        <button mat-button class="menu-button" (click)="school()">
            <mat-icon>account_balance</mat-icon>School Profile
        </button>

        <button mat-button class="menu-button" (click)="viewSchool()">
            <mat-icon>account_balance</mat-icon>View School Profile
        </button>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>keyboard_backspace</mat-icon>Logout
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>